.x{
    border: 1px solid red;
}
.bg-navbar-primary{
    background-color: var(--black);
   
}
.text-color-primary{
    color: var(--primary-color) !important;
}

.bg-offcanvas{
    background: linear-gradient(180deg, var(--primary-color)50%, var(--primary-gradiente-color));
}

.height-nav{
    height: 65px;
}

/* HOME */
.feed-news {
    width: 60%;
    height: 900px;
    margin: 2rem auto;
    background-color: #CD1AC0;
}

.side-box{
    /* position: fixed; */
    width: 140px;
    
    height: min-content;
    background-color: var(--primary-color);
    /* top: 190px; */
}
.animation{
    transition: all 1s;
}
.animation:hover{
    margin-left: 10px;

}

.x-1{
    color: var(--secondary-color);
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    background: none;
    font-weight: bold;
    transition: all 1s;
}
.x-1:hover{
    margin-left: 10px;
}


/* HOME
.c1{
    border: 1px solid black;
    height: 400px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(46, 46, 46);
    background-position-x: calc(100% - 50%);
    left: 500px;
    border: #CD1AC0;
}
#c2{
    height: 400px;
    background-image: 'img/pexels-miguel-á-padriñán-19677.jpg';
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(46, 46, 46);
    background-position-x: calc(100% - 50%);
    left: 500px;
}
#c3{
    height: 400px;
    background-image: url(img/pexels-miguel-á-padriñán-19677.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(46, 46, 46);
    background-position-x: calc(100% - 50%);
    left: 500px;
} */
